.env
__pycache__/
*.pyc
.venv/
.pytest_cache/
.ruff_cache/
*.egg-info/
dist/
build/
.coverage
htmlcov/
.terraform/
*.tfstate
*.tfstate.*
*.tfplan

core-infra/.terraform/
core-infra/terraform.tfstate
core-infra/terraform.tfstate.*
core-infra/*.tfvars
core-infra/__pycache__/
core-infra/*.pyc

arch.md